@import "tailwindcss";
/* @plugin */

/* @config "../tailwind.config.js" */

@theme {
  --color-purple-100: #E0E7Fe;
  --color-purple-200: #3E38A7;
  --color-purple-600: #5046E4;
  --color-gray-100: #EEEEEF;
  --color-gray-200: #E6E9ED;
  --color-gray-600: #95989C;
  --color-BluePurple: #703BE7;
} 


